<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.Name %>
</p>

<p>
  <b>Image:</b>
  <%= @team.image %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
