<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Standings %><br />
    <%= f.number_field :Standings %>
  </div>
  <div class="field">
    <%= f.label :Spirit %><br />
    <%= f.text_field :Spirit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
