<h1>Listing Spirit Scores</h1>

<table>
  <tr>
    <th>Teamname    |</th>
    <th>Spirit1     |</th>
    <th>Spirit2     |</th>
    <th>Spirit3     |</th>
    <th>Spirit4     |</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spirit_scores.each do |spirit_score| %>
  <tr>
    <td><%= spirit_score.TeamName %></td>
    <td><%= spirit_score.Spirit1 %></td>
    <td><%= spirit_score.Spirit2 %></td>
    <td><%= spirit_score.Spirit3 %></td>
    <td><%= spirit_score.Spirit4 %></td>
    <td><%= link_to 'Edit', edit_spirit_score_path(spirit_score) %></td>
    <td><%= link_to 'Destroy', spirit_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spirit score', new_spirit_score_path %>
